/* ESTILOS */

.productos-container {
	display: flex;
	padding: 0px;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 20px 20px 60px 20px;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 0.2rem 1rem;
	color: #E5533A;
	text-decoration: none;
	background-color: none;
	border: 2px solid #93BCC0;
}

.cardA {
	font-family: 'Advent Pro', sans-serif;
	font-weight: 200;
	position: relative;
	display: inline-block;
	align-items: center;
	padding: 0.5rem 2rem;
	color: #172f50;
	text-decoration: none;
	gap: 10px;

	img {
		width: 150px;
		height: 150px;
		transition: width (2s), height (2s);

		&:hover {
			width: 160px;
			height: 160px;
		}
	}
}

.cardB {
	font-family: 'Advent Pro', sans-serif;
	font-weight: 200;
	position: relative;
	display: inline-block;
	padding: 0.5rem 2rem;
	color: #172f50;
	text-decoration: none;

	img {
		width: 150px;
		height: 150px;
		transition: width (2s), height (2s);

		&:hover {
			width: 160px;
			height: 160px;
		}
	}
}


.cardC {
	font-family: 'Advent Pro', sans-serif;
	font-weight: 200;
	position: relative;
	display: inline-block;
	padding: 0.5rem 2rem;
	color: #172f50;
	text-decoration: none;

	img {
		width: 150px;
		height: 150px;
		transition: width (2s), height (2s);

		&:hover {
			width: 160px;
			height: 160px;
		}
	}
}

.bnt-card-body {
	margin: 20px;
	font-size: 16px;
	font-style: italic;
	// text-transform: uppercase;
}

.card-img-estilo {
	display: flex;
	justify-content: center;
}

// .card-link {
// 	background-color: #386B6E;
// 	color: #93BCC0;
// 	display: inline-block;
// 	position: relative;
// 	width: auto;
// 	position: relative;
// 	text-align: center;
// }

.card-link-estilo{
	background-color: #172f50;
	color: #F7EEE8;
	border-radius: 2rem;
	border: 6px double #172f50;
	margin-left: 22px;
}