/* ESTILOS */

.productos-container {
	display: flex;
	padding: 0px;
	flex-flow: row wrap;
	justify-content: space-evenly;
	margin: 20px 20px 60px 20px;
}

.list-group-item {
	position: relative;
	display: block;
	padding: 0.2rem 1rem;
	color: #E5533A;
	text-decoration: none;
	background-color: none;
	border: 2px solid #93BCC0;
}

.cardA {
	font-family: 'Advent Pro', sans-serif;
	font-weight: 200;
	position: relative;
	display: inline-block;
	align-items: center;
	padding: 1rem 2rem;
	color: #172f50;
	text-decoration: none;
	gap: 10px;

	img {
		width: 200px;
		height: 200px;
		transition: width (2s), height (2s);

		&:hover {
			width: 210px;
			height: 210px;
		}
	}
}

.cardB {
	font-family: 'Advent Pro', sans-serif;
	font-weight: 200;
	position: relative;
	display: inline-block;
	padding: 1rem 2rem;
	color: #172f50;
	text-decoration: none;

	img {
		width: 200px;
		height: 200px;
		transition: width (2s), height (2s);

		&:hover {
			width: 210px;
			height: 210px;
		}
	}
}


.cardC {
	font-family: 'Advent Pro', sans-serif;
	font-weight: 200;
	position: relative;
	display: inline-block;
	padding: 1rem 2rem;
	color: #172f50;
	text-decoration: none;

	img {
		width: 200px;
		height: 200px;
		transition: width (2s), height (2s);

		&:hover {
			width: 210px;
			height: 210px;
		}
	}
}

.bnt-card-body {
	margin: 20px;
	font-size: 14px;
	text-transform: uppercase;
}

.card-img-estilo {
	display: flex;
	justify-content: center;
}

.card-link-estilo{
	background-color: #172f50;
	color: #F7EEE8;
	border-radius: 1.5rem;
	border: 6px double #172f50;
	margin-left: 22px;
}

.actionPreSig {
    width: auto;
    position: relative;
    text-align: center;
	display: flex;
    justify-content: center;
	margin: 20px;
}

.btnPreSig{
	background-color: #93BCC0;
	color: #E5533A;
	display: inline-block;
	position: relative;
	width: auto;
    position: relative;
    text-align: center;
	border-radius: 1rem;
	margin: 10px;
}