/* INDEX */

.carousel-inner {
	padding: 20px;
}
.img-fluid {
	max-width: 100%;
	height: auto;
}
.productos {
	margin: 0px;
	max-width: 100%;
	background-size: cover;
	background-image: url("../multimedia/fondogingko.png");
	width: 100vw;
	padding: 30px;
	height: 420px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
}
.galeriaProductos {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 0.5fr, 0.5fr, 0.5fr;
	grid-template-areas: "pañueloA pañueloB pañueloC";
}

.btnPanuelo {
	background-color: #E5533A;
	color: #F7EEE8;
	height: 40px;
	border-radius: 3rem;
}
.pañueloA {
	grid-area: pañueloA;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 12px;
	img {
		width: 180px;
		height: 180px;
		transition: width (2s), height (2s);
		&:hover {
			width: 200px;
			height: 200px;
		}
	}
}
.pañueloB {
	grid-area: pañueloB;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 12px;
	img {
		width: 180px;
		height: 180px;
		transition: width (2s), height (2s);
		&:hover {
			width: 200px;
			height: 200px;
		}
	}
}
.pañueloC {
	grid-area: pañueloC;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 12px;
	img {
		width: 180px;
		height: 180px;
		transition: width (2s), height (2s);
		&:hover {
			width: 200px;
			height: 200px;
		}
	}
}
.suscripcion {
	display: flex;
    margin: 10px auto;
    padding: 19px 24px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.btnSuscribirse{
	background-color: #386B6E;
	color: #93BCC0;
	display: inline-block;
	position: relative;
	width: auto;
    position: relative;
    text-align: center;
}
.actionSuscripcion {
    width: auto;
    position: relative;
    text-align: center;
}

.titulo1 {
	margin: 0px 5px 15px;
	width: auto;
    position: relative;
    text-align: center;
}
.titulo2 {
	@extend .titulo1;
}

.bordePropioSuscripcion{
	border: 3px double #172f50;
	padding:12px;
	border-radius: 50px;
}

.form1 {
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	line-height: 18px;
}

.form2{
    @extend .form1;
}

.form-label{
    padding-right: 0;
}

.datoSuscripcion{
	margin-left: 15px;
	margin-right: 10px;
}