/* REGISTRO */

.registroLogin {
	background-image: url("../multimedia/anatano.png");
	max-width: 100%;
    background-size: cover;
	display: grid;
	margin: 20px 0px 60px;
	justify-content: center;
	grid-template-columns: 3fr 3fr;
	grid-template-areas: "crearcuenta iniciarsesion";
}

.crearCuenta {
	grid-area: crearcuenta;
	
	.col-md-6 {
		@media (min-width: 768px) {
			flex: 0 0 auto;
			width: 80%;
		}
	}
}

.iniciarSesion {
	grid-area: iniciarsesion;

	.col-md-6 {
		@media (min-width: 768px) {
			flex: 0 0 auto;
			width: 80%;
		}
	}
}

.crearCuenta {
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.btnPropio {
	background-color: #386B6E;
	color: #93BCC0;
	border-radius: 1rem;
}

.form-check-input {
	&:checked {
		background-color: #E5533A;
		border-color: #386B6E;
	}
}

.iniciarSesion {
	margin: 5px;
	padding: 5px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
}

.btnPropio {
	background-color: #386B6E;
	color: #93BCC0;
}

.form-check-input {
	&:checked {
		background-color: #E5533A;
		border-color: #386B6E;
	}
}