* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62, 5%;
    font-family: 'Advent Pro', sans-serif;
}

body {
    background-image: url("../multimedia/lightpaperfibers.png");
    font-family: 'Advent Pro', sans-serif;
    background-repeat: repeat;
    color: #172f50
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #386B6E;
}

a:hover {
    color: #E5533A;
}

ul {
    font-weight: 500;
}


$colorTipografia: #172f50;
$colorHoverTipografia: #E5533A;
$colorFondoMenu:#F7EEE8;

$letraMenu: 20px;

/* MAPS */
// $redesContainer: (facebook: #3a5795,
//     instagram: #833AB4,
//     twitter: #55acee,
//     pinterest: #c8232c);

// @each $red, $color in $redesContainer {
//     .#{$red} {
//         background-color: $color;
//     }
// }

/* MAPS GET*/
$estilos: (
   color: #F7EEE8,
   tFuente: 18px,
   transition: .2s,
   borde: 3rem
 );

 .redesContainer {
     color: map-get($estilos , color);
     font-size: map-get($estilos , tFuente);
     transition: map-get($estilos , transition);
     border-radius: map-get($estilos , borde);
}


/* MIXINS */

@mixin fontStyle ($color, $fontSize) {
    color: $color;
    font-size: $fontSize;
    font-family: 'Advent Pro', sans-serif;
}

.nosotrosParrafo {
    @include fontStyle(#172f50, 20px);
}

.breadcrumb {
    margin: 10px 10px 10px 30px;
    padding: 20px;

    .breadcrumb-item {
        @include fontStyle(#172f50, 23px);
    }
}

.migaDePan{
     height: 0%;
 }

/* EXTEND --> Tutora: agregue un "extend prueba" porque no encontre a que aplicarlo en mi proyexto.*/

// .clasePrueba {
//     text-align: center;
//     color: #E5533A;
//     border: 2px;
// }

// .clasePrueba2 {
//     @extend .clasePrueba;
//     font-size: 3rem;
// }

